[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0C234B;
  --md-accent-fg-color: #f8892f;
  --md-typeset-a-color:  #fb9b4c;
  --md-typeset-mark-color: #ab6907;
  --md-typeset-color: #f1f1f1;
}

[data-md-color-scheme="slate"] .grid.cards > ul > li {
    background-color: #25211c;
    border: 1px solid #5A3B20;
}

[data-md-color-scheme="slate"] .grid.cards > ul > li:hover {
    border-color: #E89B3A;
}

[data-md-color-scheme="slate"] .md-typeset code {
  background-color: #211a14;
  color: #ffad45;
  font-size: 13px;
}

.md-typeset .admonition.quote {
  font-size: 13px;
  background-color: #424140;
  color: rgb(233, 233, 233);
}

.md-typeset .admonition.tip {
  font-size: 13px;
  background-color: #2d4c40;
  color: rgb(233, 233, 233);
}


.img-right, 
.ood-form,
.highlighted-research {
    float: right;
}

@media (max-width: 800px) {
    .img-right {
        float: none;
        display: block;
        margin: 1rem auto;
        max-width: 80%;
    }
}


.grid.cards > ul > li,
.grid.cards > div > div.card {
  position: relative;
}

.grid.cards a {
  text-decoration: none;
  color: inherit; 
}

.grid.cards a::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}


  .md-nav--secondary {
    background-color: #353434; 
    color: #fab44a; 
}

.md-status--empty::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.35em;
  vertical-align: -0.15em;

  background-color: currentColor;

  -webkit-mask: url("../images/ghost-outline.svg") no-repeat center / contain;
  mask: url("../images/ghost-outline.svg") no-repeat center / contain;
}

.hero-image {
  image-rendering: pixelated;
  float: right;
}